@media(min-width: 768px){
    main{
        display: flex;
        justify-content: center;
        padding: 0 84px 0 84px;
    };
      .perfume-container {
        padding: 32px;
        
      };
      .perfume-project-container {
        display: flex;
        flex-direction: row; /* stack image and text vertically */
        align-items: left; /* horizontally center everything */
        justify-content: center; /* vertically center if container has height */
        height: 100vh;
        margin-left: 286.5px;
        margin-right: 286.5px;
        margin-top: 84px;
        margin-bottom: 84px;
        

      };
      
      .perfume-picture-container, .perfume-container{
        width: 600px;
        height: 456px;
        
        background-color: black;
      }
      }
    